.editor {
  display: flex;
  flex-grow: 1;
  flex-flow: column nowrap;

  .files {
    display: flex;
    flex-flow: row nowrap;
    min-height: 25px;
    max-height: 25px;
    border-bottom: 1px solid rgb(220, 220, 220);

    .file {
      display: flex;
      border-right: 1px solid rgb(220, 220, 220);
      border-bottom: 1px solid rgb(220, 220, 220);
      margin-bottom: -1px;
      line-height: 25px;
      font-size: 13px;
      padding: 0 5px;

      i {
        color: rgb(120, 120, 120);
        position: relative;
        top: 1px;
        margin-left: 5px;
        font-size: 10px;

        &.unchanged {
          display: none;
        }

        &.changed {
          display: block;
        }
      }

      span, i {
        line-height: 22px;
        font-size: 13px;
      }

      span {
        margin-left: 5px;
      }

      &:hover {
        cursor: pointer;
        background: rgb(27, 135, 227);

        span, i {
          color: rgb(240, 240, 240);
        }
      }

      &.selected {
        background: rgb(240, 240, 240);

        span, i {
          color: rgb(27, 135, 227);
        }
      }
    }
  }

  .wrapper {
    display: flex;
    flex-grow: 1;
    position: relative;
  }

  .ace_editor {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    font: 14px "Consolas", monospaced;

    span, div {
      font: 14px "Consolas", monospaced;
    }
  }

  .context {
    position: absolute;
    z-index: 100;
    min-height: 26px;
    max-height: 200px;
    min-width: 200px;
    background: white;
    overflow-y: auto;
    outline: none;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0 2px 10px 0, rgba(0, 0, 0, 0.14902) 0 16px 80px -6px, rgba(0, 0, 0, 0.0901961) 0 0 0 1px;
  }

  .auto-complete {
    li {
      display: flex;
      padding: 0;

      span, .icon {
        font-family: 'Consolas', monospace;
        min-height: 26px;
        max-height: 26px;
        padding: 3px;
      }

      span {
        display: flex;
        flex-grow: 1;
      }

      .icon {
        font-size: 12px;
        min-width: 16px;
        max-width: 16px;
        min-height: 18px;
        max-height: 18px;
        padding-left: 5px;
        line-height: 12px;
        border-radius: 3px;
        color: white;
        margin: 4px;

        &.term {
          background: #fece72;
        }

        &.pattern {
          background: #5cb85c;
        }
      }

      &.selected, &:hover {
        background: rgb(27, 135, 227);

        span, .icon {
          color: white;
        }
      }
    }
  }

  .ace_search {
    display: flex;
    flex-flow: column nowrap;
    right: 20px;
    background: rgb(240, 240, 240);
    border: 1px solid rgb(220, 220, 220);
    border-top: none;
    max-width: 336px;
    padding: 5px;

    .ace_searchbtn_close {
      display: none;
    }

    .ace_search_options {
      display: flex;
      text-align: left;
      margin-bottom: 5px;
      height: 20px;

      .ace_button {
        margin-left: 0;
        margin-right: 4px;
        background: white;
      }

      span {
        font-size: 12px;
      }
    }

    .ace_search_form, .ace_replace_form {
      border: none;
      width: 326px;

      &.ace_nomatch {
        outline: none;

        .ace_search_field {
          border: 1px solid red;
          background: #fed3ce;
        }
      }

      .ace_search_field {
        margin-right: 5px;
      }

      .ace_searchbtn, .ace_replacebtn {
        min-width: 30px;
        margin-right: 5px;
        height: 30px;

        &.next, &.prev {
          max-width: 32px;
          width: 32px;
        }

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }

}